div[name="divy"]{
font-family: Impact,'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
font-size:medium;
}

div[name="info"] {
    display: none;
}

div[name="info"]:hover {
    display: block;
}
div[name="link"]:hover {
    display: block;
}

#contenu li {
    background-color: #D7D7D7;
    text-align: left;
    text-decoration: blue;
}



span[name="myButton"]:hover+div[name="info"] {
    background-color: #D7D7D7;
    display: block;
}
button[name="myButtonlink"]:hover+div[name="link"] {
    background-color: #D7D7D7;
    display: block;
}

input:checked + label + div[name="info"]{
  display: block;
  margin-top: 10px;
}
