

div[name="info"]{
display: none;
}
div[name="info"]:hover {
display: block;
}

#contenu li{
    background-color:#D7D7D7;
    text-align: left;
    text-decoration: blue;
}  



button[name="myButton"]:hover + div[name="info"] {
    background-color: #D7D7D7;
    display: block;    
}